body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
    box-sizing: border-box; /* Позволяет учитывать padding в ширине */
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    box-sizing: border-box; /* Позволяет учитывать padding в ширине */
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px 0; /* Добавлено для отступа между кнопками */
}

button:hover {
    background-color: #218838;
}

#qrcode {
    margin: 20px 0; /* Увеличен отступ сверху и снизу для большей симметрии */
}

.button-container {
    display: flex;
    flex-direction: column; /* Упорядочивает кнопки в столбик */
    align-items: center; /* Центрирует кнопки */
}
