* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-color 0.3s, color 0.3s; /* Анимация смены темы */
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 90%;
    max-width: 400px; /* Максимальная ширина для больших экранов */
    position: relative; /* Для позиционирования переключателя */
    transition: background-color 0.3s, color 0.3s; /* Анимация смены темы */
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px 0;
    width: 100%; /* Кнопки занимают всю ширину */
}

button:hover {
    background-color: #218838;
}

#qrcode {
    margin: 20px 0;
    display: inline-block; /* Для центрирования QR-кода */
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.theme-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    transition: transform 0.3s;
}

.qr-code {
    border-radius: 10px;
    padding: 10px;
    background-color: #f0f0f0; /* Фоновый цвет для QR-кода */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 0 auto; /* Центрируем QR-код */
}

body.dark-mode {
    background-color: #333;
    color: #f4f4f4;
}

.container.dark-mode {
    background-color: #444;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
}

button.dark-mode {
    background-color: #555;
    color: #fff;
}

button.dark-mode:hover {
    background-color: #666;
}
